body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px; 
}



/* ESTILO DE LA HOME PAGE */


.home-page {
background-image: url('/images/background.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.hero {
  padding-top: 70px;
}

.home-big-logo {
  border-radius: 8px;
  width: 100%;
}

.hero h1 {
  color: #0b4577;
  font-size: 2em;
  font-weight: 600px;
  padding-top: 20px;
  padding-right: 40px;
}

.home-cards {
  color: #0b4577;
  height: 350px;
  padding-top: 50px;
}

.home-cards h2 {
font-size: 1em;
line-height: 1.3em;
padding: 10px 20px;
}

.access {
margin-top: 30px;
}

.access p {
  text-align: center;
}

.button {
  background-color: #0b4577;
  opacity: 0.4;
  border-radius: 15px;
  display: block;
  width: 170px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  margin: 10px auto;
  padding: 10px;  
  
}

.button:hover {
  text-decoration-line: none;
  color: white;
  opacity: 0.3;
  background-color: #0b4577;
  
}


/* ESTILO DE LA CAROUSEL DE HOME */


.carousel-item {
height: 150px;
}

.carousel-caption {
  color: #0b4577;

}

.carousel-caption h5 {
  font-size: 0.9em;
}

.carousel-caption p {
  font-size: 0.8em;
  font-style: italic;
}
/* FORMULARIOS */

label {
  display: block;
}

.submit-btn {
  display: block;
}


/* PROFILE DEL PARTICULAR */
/* 
h2 {
  color: #60b0f4;
} */

.section {
  background-color: #60b0f4; 
  
}
.section img {
  width: 100%;
  margin: 0 auto;
}



