body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px; 
}



/* ESTILO DE LA HOME PAGE */


.home-page {
background-image: url('/images/background-home.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.hero {
  padding-top: 60px;
}

.home-big-logo {
  border-radius: 8px;
  width: 100%;
}

.hero h1 {
  color: #0b4577;
  font-size: 2em;
  font-weight: 600px;
  padding-top: 20px;
  padding-right: 40px;
}

.home-cards {
  color: #0b4577;
  height: 350px;
  padding-top: 50px;
}

.home-cards h2 {
font-size: 1em;
line-height: 1.3em;
padding: 10px 20px;
}

.access {
margin-top: 30px;
}

.access p {
  text-align: center;
}

.button {
  background-color: #0b4577;
  opacity: 0.4;
  border-radius: 15px;
  display: block;
  width: 170px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  margin: 10px auto;
  padding: 10px;  
  
}

.button:hover {
  text-decoration-line: none;
  color: white;
  opacity: 0.3;
  background-color: #0b4577;
  
}


/* ESTILO DE LA CAROUSEL DE HOME */


.carousel-item {
height: 140px;
}

.carousel-caption {
  color: #0b4577;

}

.carousel-caption h5 {
  font-size: 0.9em;
}

.carousel-caption p {
  font-size: 0.8em;
  font-style: italic;
}



/* FORMULARIOS */


.background-repeat {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  }

  .background-repeat img {
    width: 10%;
    margin-top: 20px;
    }
  
  .background-repeat img:hover  {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  
  .login-form {
    margin: 10px 30px 30px;
    color: #0b4577;
    background-color: #dcdcdc;
    border-radius: 20px;
  }

  .login-form h3 {
    text-align: center;
    padding-top: 50px;
  }

  .login-form form {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .login-form .btn-light {
    color: #0b4577;
    border-color: #0b4577;
    border-radius: 7px;
  }

  .to-signup {
    color: #0b4577;
    margin-top: 5px;
    font-size: 0.9em;
    margin-right: 20px;

  }


/* PROFILE DEL PARTICULAR */


.part-home-page {
  background-color: #dcdcdc;
  padding-top: 20px;
}

.part-home-page h2 {
  color: #0b4577;
  text-align: center;
}
.section {
  width: 80%;
  margin: 0 auto;
}

.one{
  margin: 10px 0;
}

.two {
  margin: 20px 0;
}

.section-card img {
  background-color: white;
  border-radius: 15px;
  border: 2px solid #0b4577;
  width: 70%;
  margin: 0 auto;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.section-card img:hover {
  -webkit-transform: scale(1.04);
	transform: scale(1.04);
}



/* PARTICULAR CARD & MYFAVOURITES*/

.part-card {
  padding-top: 20px;
  background-color: #dcdcdc;
  height: 100vh;
}

.search {
margin-bottom: 50px; 
border: 0.8px solid #0b4577;
border-radius: 5px;
padding: 20px 10px;
background-color: white;
}

.search .label {
margin-right: 10px;
}

.search .localities  {
  margin-right: 10px;
}

.search .btn-light {
  color: #0b4577;
  border-color: #0b4577;
  border-radius: 7px;
}

.search .ver {
  width: 70px;
}

.card-rows {
  margin-top: 30px;
}

h2 {
  color: #0b4577;
  text-align: center;
}


/* CARD Y FCARD */

.prof-card {
  border-radius: 15px;
  border: 0.5px solid #0b4577;
  background-color: white;
}

.prof-card-content {
padding: 10px; 
}
.prof-card-content .btn-light {
  color: #0b4577;
  border-color: #0b4577;
  border-radius: 7px;
}

.prof-card-content .favourite-star {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* MODALES */


.modal-title {
  color: #0b4577;
  margin: auto;
}

.react-calendar {
  margin: 0 auto;
  border-radius: 10px;
}

.btn-light {
  color: #0b4577;
  border-color: #0b4577;
  border-radius: 7px;
}

.event {
  margin-left: 50px;
}

/* LOGO LOGIN SIGNUP */


@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}



